@charset "UTF-8";

body {
    background-color: #5EE690;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #2A6640;
}

h1#principal {
    text-align: center;
    background-color: #44A769;
    color: white;
}

.basico {
    color: #3d6b4e;
    font-weight: bold;
}

.intermediario {
    color: #c0ee42;
}

.avançado {
    color: #cf3636;
}

.destaque {
    background-color: #dbdb52;
}